<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

        <title>{% if title %}{{title}}{% else %}NO TITLE!!{% endif %}</title>

</head>
<body>
{% if args %}
    <h1>Hello Word V {{args.latest}}</h1>
    <h3>created by {{args.creator}}</h3>
    <ul class="versions">
        <span>versions: </span>
    {% for version in args.versions %}
        <li>>> {{version.number}} || Relesed: {{version.date}} << Comment: "{{version.comment}}" </li>
    {% endfor %}
    </ul>
{% endif %}
{% if g.user.is_authenticated%}
    <h3>Welcome {{ g.user.username }}!!</h3>
{% endif %}
    <div class="nav-collapse collapse">
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            {% if g.user.is_authenticated%}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {% if not g.user.is_authenticated%}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}
</body>
</html>